$size: 950px;
$font-colour: white;
$nav-colour: #282c34;

html,
body,
#root {
    margin: 0px;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $font-colour;
}

header,
footer {
    display: flex;
    flex-direction: row;
    background-color: $nav-colour;
    color: $font-colour;
    align-items: center;
}

header {
    font-size: 18pt;
}

footer {
    font-size: 12pt;
}

main {
    height: 100%;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    ul {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    ul li {
        padding: 20px 30px;
        display: flex;
        height: 100%;
        align-items: center;
    }
}

@media screen and (max-width: $size) {
    aside {
        ul {
            font-size: 20pt;
            li {
                padding: 5px 0px;
            }
        }
    }
    footer {
        ul {
            flex-direction: column;
            font-size: 20pt;
            li {
                padding: 10px 0px;
            }
        }
    }
}