$size: 950px;
$secondary_font_colour: #422800;
$primary_background: #fbeee0;
$secondary_background: #422800;

.page {
    color: white;
    margin: 40px 20%;
    font-size: 25pt;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
    p, div {
        padding: 15px;
    }
}

/* CSS */
.button {
  background-color: $primary_background;
  border: 2px solid $secondary_background;
  border-radius: 30px;
  box-shadow: $secondary_background 4px 4px 0 0;
  color: $secondary_font_colour;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #fff;
}

.button:active {
  box-shadow: $secondary_background 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.long-text {
  font-size: 16pt;
}

.list {
  font-size: 14pt;
  padding: 10px;
  li {
    padding: 5px;
  }
}

@media (min-width: $size) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}

@media screen and (max-width: $size) {
  .page {
    margin: 40px 20px;
  }
}